<phpunit>
    <testsuites>
        <testsuite name="AllTests">
            <directory>.</directory>
        </testsuite>
        <testsuite name="Filename">
            <directory>./TestCase/Lib/Filename</directory>
        </testsuite>
        <testsuite name="Resizer">
            <directory>./TestCase/Lib/Resizer</directory>
        </testsuite>
        <testsuite name="Utils">
            <directory>./TestCase/Lib/Utils</directory>
        </testsuite>
    </testsuites>
</phpunit>